*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html, body{
    height: 100%;
    width: 100%;
    text-align: center;
}

    body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #06031d;
}

#card{
    border-radius: 12px;
    height: 450px;
    width: 300px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

#card img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

#card h1{
    font-size: 25px;
    font-style: italic;
    margin: 10px 0;
}

#card h3{
    font-size: 25px;
    color: red;
    margin: 5px;
}

#card button{
    background-color: cadetblue;
    color: #fff;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

#card #remove{
    background-color: #dadada;
    color: #111;
}

#container {
    color: #999;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
}
#flip {
    height: 50px;
    overflow: hidden;
}

#flip > div > div {
    color: #fff;
    padding: 4px 12px;
    height: 45px;
    margin-bottom: 45px;
    display: inline-block;
}

#flip div:first-child {
    animation: show 5s linear infinite;
}

#flip div div {
    background: #42c58a;
}

#flip div:first-child div {
    background: #4ec7f3;
}

#flip div:last-child div {
    background: #DC143C;
}

@keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
}

p {
    position: fixed;
    width: 100%;
    bottom: 30px;
    font-size: 12px;
    color: #999;
    margin-top: 200px;
}